/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
  font-weight: bold;
  font-size: 20px; 
}

.site-header {
  position: relative;
  background-color: #fff; 
  font-family: Poppins-Regular;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

.login-btn {
  background-color: #34d186;
  color: #fff;
  border-radius: 18px;
  min-width: 100px;
}

@media (min-width: 660px) {
    .site-header__wrapper {
      padding-top: 0;
      padding-bottom: 0; 
    } 
}

@media (max-width: 659px) {
  .site-header__end {
    padding-right: 4rem; 
  } 
}

@media (min-width: 660px) {
  .nav__wrapper {
    display: flex; 
  } 
}

@media (max-width: 659px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; 
  }

  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
  } 
}

.nav__item a {
  display: block;
  padding: 1.5rem 1rem; 
}

.nav__toggle {
  display: none; 
}

@media (max-width: 659px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem; 
  } 
}
